USE [master]
GO
/****** Object:  Database [moviedb]    Script Date: 7/29/2024 5:01:00 PM ******/
CREATE DATABASE [moviedb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'moviedb', FILENAME = N'C:\Users\hungnd\moviedb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'moviedb_log', FILENAME = N'C:\Users\hungnd\moviedb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [moviedb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [moviedb]
GO
/****** Object:  Table [dbo].[Movies]    Script Date: 7/29/2024 5:01:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movies](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](80) NOT NULL,
	[Genre] [nvarchar](20) NOT NULL,
	[ReleaseDate] [date] NOT NULL,
	[Price] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_Movies] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Movies] ON 

INSERT [dbo].[Movies] ([ID], [Title], [Genre], [ReleaseDate], [Price]) VALUES (10, N'Ghostbusters', N'	Comedy', CAST(N'1984-06-08' AS Date), CAST(7 AS Decimal(18, 0)))
INSERT [dbo].[Movies] ([ID], [Title], [Genre], [ReleaseDate], [Price]) VALUES (11, N'Ghostbusters II', N'	Comedy', CAST(N'1989-06-16' AS Date), CAST(7 AS Decimal(18, 0)))
INSERT [dbo].[Movies] ([ID], [Title], [Genre], [ReleaseDate], [Price]) VALUES (12, N'Planet of the Apes', N'Action', CAST(N'1986-03-27' AS Date), CAST(6 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[Movies] OFF
USE [master]
GO
